.App {
  text-align: center;
}

html { 
	background: url(./bg2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}


.main {
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: minmax(50px, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	color: #999;
	font-family: Comic;
	}
	
	header { grid-area: 1 / 1 / 2 / 7;}
	.navbar { grid-area: 2 / 1 / 3 / 7; text-align: center;} 
	.content { grid-area: 3 / 3 / 5 / 5;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 5em;
		overflow: scroll;
	}

header {
  text-align: center;
}

#logo {
	width: 30%;
	filter: invert(1);
}

ul {
  border-radius: 15px;
  opacity: 0.8;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(51,51,51,1) 50%, rgba(255,255,255,1) 100%); */
  background-color: #333;
  box-shadow: black;
  text-align: center;
  font-family: 'Lacquer', cursive;
  font-size: 1.5em;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

li {
  display: inline-block;
}

li a {
  display: block;
  /* color: black; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  border-radius: 15px;
  background-color: #511;
}

textarea {
  resize: none;
}

.uploadform {
  text-align: center;
  display: inline-block;
}

.form-style-5{
	opacity: 0.8;
	grid-area: 1 / 1 / 2 / 3;
  	max-width: 70%;
	padding: 10px 20px;
	margin: 10px auto;
	padding: 20px;
	background: #333;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="file"],
.form-style-5 textarea{
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgb(255, 255, 255);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: white;
	color: black;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="file"]:focus,
.form-style-5 textarea:focus {
	background: rgb(236, 235, 235);
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: grey;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid black;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
	border-radius: 4px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: lightgray;
}

#audioplayer {
	height: 1.5em;
	padding-bottom: 1em;
}

#girl {
	opacity: 0.8;
	width: 100%;
	border-radius: 40px;
	
}

.girl {
	grid-area: 1 / 2 / 2 / 3;
}


.hometext{
	grid-area: 1 / 1 / 2 / 2;
	font-size: 2em;
	text-align: center;
}

p {
	color: whitesmoke;
	font-family: 'Lacquer', cursive;
	margin: 0;
	padding: 10px;
}

.filelist {
	grid-area: 1 / 1 / 2 / 3;
	margin: 0 auto;
	width: 70%;
}

.file {

	background-color: #333;
	opacity: 0.8;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-color: #333;
	border-style: solid;
	border-radius: 20px;
	border-width: thin;
	/* display: flex; */
	color: white;
	font-size: 1.5em;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	word-break: break-all;
}

.file-left {
	text-align: center;
}

h6 {
	margin: 1em;
}

h5 {
	margin: 1em;
}

.editdeletediv {
	margin-top: 1em;
	margin-bottom: 0;
}

button {
	margin: 0;
	border-radius: 10px;
}

summary {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 0.8em;
}

