.App {
  text-align: center;
}

header {
  font-size: 6em;
  display: inline-block;
  /* background-color: #444; */
  color: white;
  text-align: center;
}

.navbar {
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #333;
  text-align: center;
}

li {
  display: inline-block;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

textarea {
  resize: none;
}

#guitar {
  margin-top: 12em;
  width: 18%;
  /* filter: invert(1); */
  float: left;
  margin-left: 1em;

}

#bass {
  margin-top: 6em;
  width: 12%;
  /* filter: invert(1); */
  float: right;
  margin-right: 2em;
}