.App {
  text-align: center;
}

header {
  font-size: 6em;
  text-align: center;
}

.navbar {
  background-color: aqua;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline-block;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

textarea {
  resize: none;
}